#MyHeader{
  background-color: lightblue;
  padding: 30px;
}

.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin:auto;
  margin-top:5%;
  color:white;
  font-family: 'Century Gothic', sans-serif;
}
.box h1{
  font-size:40px;
  letter-spacing: 4px;
  font-weight:100;
}
.box h5{
  font-size:20px;
  letter-spacing:3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}
table, th, td{
  border: 3px solid lightblue;
  border-collapse: collapse;
}
td{
  padding:10px;
}
.box h3{
  font-size:17px;
  letter-spacing:2px;
  font-weight: 100;
}
.box a{
  border:3px solid lightblue;
  border-radius:12px;
}
.box a{
  font-size:17px;
  letter-spacing:1px;
  font-weight: 300;
}
