@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan');

main {
    display: flex;
    justify-content: center;
}

.card {
    margin: 20px;
    transition: 0.7s;
    cursor: pointer;
    text-align: center;
    font-family: 'Baloo Bhaijaan', cursive;
    font-size: 5vh;
}
.card:hover {
    transition: 0.7s;
    transform: scale(1.15);
}
.card img {
    width: 270px;
    height: 230px;
    box-shadow: 0 8px 6px -6px black;
    transition: 0.7s;
}
.card img:hover {
    transition: 0.7s;
    box-shadow: 0 0px 6px 2px black;
}
@media only screen and (max-width: 680px) {
    main {
        display: block;
    }
}