table{
    font-family: arial, sans-serif;
    /*border-collapse: collapse;*/
    /*width: 100%;*/
    border-spacing: 5px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #E6E6FA;
}
table, th, td {
    border: 1px solid black;
}
